* {
    font: "JetBrainsMono Nerd Font 12";

    bg0:    rgba(0,0,0,0.70);
    bg1:    rgba(255,255,255,0.04);
    bg2:    rgba(255,255,255,0.06);
    accent: rgba(203,166,247,0.30);
    border: rgba(203,166,247,0.30);

    fg0:    #cdd6f4;
    fg1:    #a6adc8;

    background-color: transparent;
    text-color:       @fg0;
    margin:           0px;
    padding:          0px;
    spacing:          0px;
}

window {
    width:           520;
    border-radius:   20px;
    border:          1.5px;
    border-color:    @border;
    background-color: @bg0;
    padding:         14px;
}

mainbox {
    padding:          0px;
    background-color: transparent;
}

inputbar {
    background-color: @bg1;
    border-radius:    14px;
    padding:          10px 16px;
    spacing:          10px;
    children:         [prompt, entry];
}

prompt {
    text-color:  #cba6f7;
    enabled:     true;
}

entry {
    placeholder:        "Buscar...";
    placeholder-color:  @fg1;
    text-color:         @fg0;
}

listview {
    background-color: transparent;
    margin:           10px 0 0px;
    lines:            8;
    columns:          1;
    fixed-height:     false;
    scrollbar:        false;
}

element {
    padding:        10px 14px;
    border-radius:  12px;
    background-color: transparent;
}

element selected {
    background-color: @accent;
    border: 1px;
    border-color: @border;
}

element-icon {
    size:           1.2em;
    vertical-align: 0.5;
}

element-text {
    text-color:     @fg0;
    vertical-align: 0.5;
}

button {
    background-color: @bg2;
    border-radius:    12px;
    padding:          6px 12px;
    text-color:       @fg0;
}

button selected {
    background-color: @accent;
}

message {
    background-color: @bg1;
    border-radius:    12px;
    margin:           8px 0 0;
}

textbox {
    padding:    8px 16px;
    text-color: @fg1;
}
