window {
    margin: 0;
    border: 1px solid #45475a;
    background-color: #1e1e2e;
    border-radius: 16px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#input {
    margin: 12px 12px 4px;
    padding: 8px 14px;
    border: 1px solid #45475a;
    border-radius: 10px;
    background-color: #313244;
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#input:focus {
    border-color: #cba6f7;
}

#inner-box {
    margin: 4px 8px;
    padding: 4px;
    background-color: transparent;
    border-radius: 10px;
}

#outer-box {
    margin: 4px;
    padding: 4px;
    background-color: transparent;
    border-radius: 14px;
}

#scroll {
    margin: 2px;
    background-color: transparent;
}

#text {
    margin: 2px 8px;
    color: #cdd6f4;
}

#entry {
    padding: 8px 10px;
    border-radius: 10px;
    background-color: transparent;
}

#entry:selected {
    background-color: #313244;
    border: none;
    outline: none;
}

#text:selected {
    color: #cdd6f4;
}
